<link rel="stylesheet" href="../stylesheets/style.css">
<script src="../javascripts/angulargrid.min.js"></script>
<div class="grid">
  <div angular-grid='vm.posts' ag-grid-width="400" ag-gutter-size="15" ag-angular-grid-id="gallery" ag-refresh-on-img-load="false">
    <div data-ng-repeat="post in vm.posts" class="repeated-item grid-item card">
      <div class="card-image">
        <img ng-src="{{post.img}}">
        <span class="card-title">{{post.title}}</span>
      </div>
      <div class="card-content">
        <span>by: {{post.author}}</span>
        <span class="right"></span>
        <br>
        <br>
        <p>{{post.description}}</p>
      </div>
      <div class="card-action">
        <a href="#!" ng-click="post.votes = post.votes-1; sortBy(type)">-</a> {{post.votes}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#!" class="downvote" ng-click="post.votes = post.votes+1; sortBy(type)">+</a>
        <a href="#!" class="activator right upvote" ng-click="vm.add=true"><i class="material-icons">add</i></a>
        <a href="#!" class="center">
          <ng-pluralize count="post.comments.length" when="{'1': '{{post.comments.length}} comment','other': '{{post.comments.length}} comments'}" class="activator center" ng-click="view=true; vm.add=false"></ng-pluralize>
        </a>
      </div>
      <div class="card-reveal">
        <div ng-show="vm.add">
          <span class="card-title grey-text text-darken-4">Add a Comment<i class="material-icons right" ng-click="vm.add=false;view=false">close</i></span>
          <input class="col s5" type="text" placeholder="Author" ng-model="cAuth" ng-class="{invalid: cNoAuth == true}"></input>
          <textarea class="col s5 materialize-textarea" type="text" placeholder="Write something here..." ng-model="cComment" ng-class="{invalid: cNoComment == true}"></textarea>
          <a class="waves-effect waves-light btn right" ng-click="cValidate(post.id, cAuth, cComment); cAuth=undefined; cComment=undefined;">Submit</a>
        </div>
        <div ng-show="view==true">
          <span ng-click="vm.add=false;view=false" class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <h4>Comments</h4>
          <hr> {{posts.comments}}
          <div ng-repeat="comment in post.comments">
            <h5>{{comment.author}}</h5>
            <p>
              {{comment.comment}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
